{% extends 'base.html' %}
{% block content %}
            <form action="">
                <div class="form-group">
                  <label for="exampleInputEmail1"> Search for Movie</label>
                  <input type="text" 
                  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  name="searchMovie"
                  >
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <p>Searching for {{searchTerm}}</p>
            
            <div class="row row-cols-1 row-cols-md-3 g-4">

                {% for movie in movies %}

                <div v-for="movie in movies" class="col">
                    <div class="card">
                        <img class="card-img-top" src="{{ movie.image.url }}" alt="{{ movie.title }}">
                        <div class="card-body">
                            <a href="{% url 'detail' movie.id %}" class="text-decoration-none">

                                <h5 class="card-title fw-bold">{{ movie.title }}</h5>

                            </a>
                            <p class="card-text">{{ movie.description }}</p>

                            {% if movie.url %} 
                               <a href="{{ movie.url }}" class="btn btn-primary">Movie Link</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                {% endfor %}

            </div>
            {% endblock %}
            {% comment %} <h2 class="mt-4">Join our mailing list</h2>
            <form action="{% url 'signup' %}">
                <div class="form-group">
                  <label for="email"> Enter your email :</label>
                  <input type="email" 
                  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  name="email"
                  >
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
    
</body>
</html> {% endcomment %}